.Sobremi{
    width: 100%;
    min-height: 100vh;
    color: var(--blanco);
    min-width: 22.5rem;
    position: relative;

    @media (max-width: 57.5rem){
        padding: 8.5rem 1rem 1rem;
        background-image: linear-gradient(to left top , #2d2035 , #090427 );
    }
}
.Sobremi-wrapper{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 6.5rem 0 0 0;

    @media screen and (max-width: 57.5rem){
        padding: 0rem;
    }
}
.Perfil-wrapper{
    width: 100%;
    max-width: 90%;
    max-height: 80vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    overflow: hidden;

    @media (max-width: 57.5rem){
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
        max-height: 100%;
        height: auto;
    }
}
.grid-container{
    border-radius: 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    @media (max-width: 57.5rem){
        border-radius: 12px;
    }
}
.grid-container:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
    transition: all .5s ease;
    animation: aparecer-right 1s ease;
    animation-delay: .5s;
    animation-fill-mode: both;

    @media (max-width: 57.5rem){
        grid-column: span 1;
        grid-row: span 1;        
    }
}
.grid-container:nth-child(2){
    grid-column: span 1;
    grid-row: span 1;
    align-items: flex-start;
    animation: aparecer-left 1s ease;
    animation-delay: 1s;
    animation-fill-mode: both;
    @media (max-width: 57.5rem){
        grid-column: span 1;
        grid-row: span 1;        
    }
}
.grid-container:nth-child(3){
    grid-column: span 3;
    grid-row: span 1;
    align-items: flex-start;
    animation: aparecer-left 1s ease;
    animation-delay: 1s;
    animation-fill-mode: both;
    @media (max-width: 57.5rem){
        grid-column: span 1;
        grid-row: span 1;        
    }
}
.grid-container:nth-child(5),
.grid-container:nth-child(4){
    grid-column: span 2;
    grid-row: span 1;
    animation: aparecer-top 1s ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    @media (max-width: 57.5rem){
        grid-column: span 1;
        grid-row: span 1;        
    }
}
.grid-container:nth-child(4){
    animation-delay: 2s;
}

.grid-container:nth-child(4),
.grid-container:nth-child(2),
.grid-container:nth-child(3),
.grid-container:nth-child(5)
{
    background-color: #1a1a1aaa;

    @media screen and (max-width: 57.5rem){
        background-color: #00000099;
    }
}
@keyframes aparecer-right {
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes aparecer-left {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes aparecer-top {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.grid-enlace{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transform: rotate(7deg);
}
.grid-span {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2em;
    animation: move 16s linear infinite alternate;
    animation-play-state: running;
    word-break: keep-all;
    white-space: nowrap;
    transition: all .5s ease;
}
.grid-span:nth-child(1),
.grid-span:nth-child(3){
    animation: moveReverse 16s linear infinite alternate;
}
.grid-container:hover .grid-span:nth-child(1),
.grid-container:hover .grid-span:nth-child(3){
    color: var(--lila);
}

@keyframes move {
from {
    transform: translateX(0);
}

to {
    transform: translateX(-42%);
}
}
@keyframes moveReverse {
from {
    transform: translateX(-42%);
}

to {
    transform: translateX(0%);
}
}
.Imagen-wrapper{
    width: 100%; 
    overflow: hidden;
}
.Imagen-img{
    border-radius: 12px;
    height: 100%;
    transition: all 2s ease;
    object-fit: cover;

    @media (max-width: 57.5rem){
        border-radius: 12px;
    }
}
.Imagen-img:hover{
    transform: scale(1.05);
}
.Info-wrapper{
    padding: 2rem;

    @media (max-width: 57.5rem){
        padding: 2rem 1rem;
        border-radius: 12px;
    }
}
.Logo-wrapper{
    margin: 0 auto;
}
.Info-wrapper img{
    @media (max-width: 57.5rem){
        width: 12rem;
        height: auto;
    }
}
.Info-wrapper.Pills-wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}
.Pills-wrapper p{
    margin-bottom: 1rem;
}
.Pills-wrapper ul{
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}
.Stack-pill{
    padding: 8px 16px;
    font-size: .8rem;
    line-height: 1em;
    border: 1px solid var(--lila);
    border-radius: 32px;
    font-weight: 500;
    transition: .5s ease all;
    opacity: 1;
    
    @media(max-width: 920px){
        font-size: .8rem;
    }
}
.Info-h1{
    color: var(--lila);
    font-weight: 700;
    font-size: 3em;
    margin-bottom: .5em;
    line-height: 1em;

    @media(max-width: 57.5rem){
        font-size: 3em;
    }
}
.Info-h2{
    color: var(--blanco);
    font-size: 1.4em;
    margin-bottom: 1.5em;
}
.Info-h3{
    color: var(--blanco);
    font-size: 1.5em;
    margin-bottom: 0;
}
.Info-li{
    color: var(--blanco);
    margin-bottom: .5em;
    line-height: 1.6rem;
}