.Contacto{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Contacto-wrapper{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.Perfil-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.Imagen-wrapper{
    width: 30%;
}
.Info-wrapper{
    padding: 2em;
    background-color: #ffffff88;
    width: 30%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    
}
.Info-h3{
    color: #000;
    font-size: 2em;
    margin-bottom: 1em;
}
.Info-p{
    color: #000;
}
.Contacto-h2{
    position: absolute;
    top: 0;
    left: 1em;

    font-weight: 300;
    letter-spacing: .2em;
    line-height: 1.8em;
    color: #000000;
    font-size: 8em;

    opacity: .5;
    animation: aparecerArriba .5s ease ;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
.Redes-wrapper{
    position: absolute;
    top: 2em;
    right: 3em;
}
.Redes-li{
    text-align: right;
    opacity: .5;
    font-size: 1.5em;
    line-height: 2em;
    transition: all .5s ease;
}
.Redes-li:hover{

    opacity: 1;
}
@media (max-width:500px){
    .Contacto-h2{
        display: none;
    }
    .Perfil-wrapper{
        margin: 0.5em 0em;
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
    }
    .Imagen-wrapper{
        width: 50%;
    }
    .Info-h3{
        font-size: 1.5em;
        margin-bottom: 0.5em;
        font-weight: 600;
    }
    .Info-p{
        color: #000;
        font-size: .9em;
    }
    .Info-wrapper{
        width: 90%;
        padding: 1em;
    }
    .Redes-wrapper{
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .Redes-li{
        opacity: .8;
    }
    
}