.Contacto{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-width: 22.5rem;
}
.Contacto-wrapper{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.Perfil-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.Imagen-wrapper{
    width: 30%; 
}
.Imagen-img{
    border-radius: 16px;
}
.Info-wrapper{
    padding: 2em;
    background-color: #ffffff88;
    width: 30%;
    border-radius: 16px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    
}
.Info-h3{
    color: #1B1B1B;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: .5em;
}
.Info-h4{
    color: #1B1B1B;
    font-size: 1.4em;
    margin-bottom: 1.5em;
}
.Info-p{
    color: #1B1B1B;
    margin-bottom: .5em;
}
.Contacto-h2{
    display: none;
    position: absolute;
    top: 0;
    left: 1em;

    font-weight: 300;
    letter-spacing: .2em;
    line-height: 1.8em;
    color: #1B1B1B;
    font-size: 8em;

    opacity: .5;
    animation: aparecerArriba .5s ease ;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
.Redes-ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 2rem;
}
.Redes-a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.Redes-li{
    text-align: right;
    opacity: .5;
    font-size: 1.5em;
    line-height: 2em;
    transition: all .5s ease;
}
.Redes-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.Redes-li:hover{

    opacity: 1;
}
@media (max-width: 1479px){
    .Info-wrapper{
        width: 40%;
        padding: 2em;
    }
}
@media (max-width: 1023px){
    .Contacto-h2{
        padding-top: 2rem;
        font-size: 2rem;
    }
    .Perfil-wrapper{
        margin: 0.5rem 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }
    .Imagen-wrapper{
        width: 60%;
    }
    .Info-h3{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
    .Info-p{
        color: #000;
        font-size: .9em;
    }
    .Info-wrapper{
        width: 90%;
        padding: 1rem;
    }
    .Redes-wrapper{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .Redes-li{
        opacity: .8;
    }
}
@media (max-width:767px){
    .Redes-a p{
        display: none;
    }
    .Redes-icon{
        margin-bottom: 1.5rem;
    }
    .Info-wrapper{
        padding: 1rem;
    }

}