.Contacto{
    width: 100%;
    min-height: 100vh;
    color: var(--blanco);
    min-width: 22.5rem;
    padding: 7.5rem 2rem 2rem;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 920px){
        padding: 8.5rem 1rem 1rem;
        background-image: linear-gradient(to left top , #2d2035 , #090427 );
    }
}
.Contacto-wrapper{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;

    @media(max-width: 920px){
        padding: 1rem;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        min-height: auto;
        
    }
}
.Contacto-info{
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-color: #8f8f8f0c;
    position: relative;
    animation: aparecer-bottom 1s ease;
    animation-delay: 0s;
    animation-fill-mode: both;

    @media (max-width: 920px){
        padding: 3rem 2rem;
        text-align: center;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
    }
}
.Contacto-info.noBackground{
    background-color: transparent;
}
.Contacto-info h1{
    color: var(--lila);
    font-size: 8rem;
    line-height: 8rem;

    @media(max-width: 1200px){
        font-size: 5.5rem;
        line-height: 6rem;
    }

    @media(max-width: 920px){
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3rem;
    }
}
.Contacto-info h2{
    font-size: 1.4rem;
    line-height: 2rem;
}
.Contacto-hand{
    width: 11rem;
    height: auto;
    position: absolute;
    bottom: 48px;
    right: 32px;

    @media (max-width: 920px){
        position: static;
    }
}
.Icon-svg{
    margin: 0 auto;
    width: auto;
    height: 11rem;
    transform: rotate(-30deg);
    animation: handwave 2s ease-in-out infinite alternate;

    @media(max-width: 1200px){
        height: 9rem;
    }

    @media(max-width: 920px){
        height: 11rem;
    }
}
@keyframes handwave {
    from{
        transform: rotate(-30deg);
    }
    to{
        transform: rotate(30deg);
    }
}
@keyframes aparecer-bottom {
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.Redes-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #000;
    border-radius: 12px;
    animation: aparecer-top 1s ease;
    animation-delay: .5s;
    animation-fill-mode: both;

    @media(max-width: 920px){
        padding: 1rem;
        gap: 1rem;
        background-color: transparent;
    }
}
.Contacto-ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;

    @media(max-width: 920px){
        flex-flow: column nowrap;
        align-items: stretch;
        gap: 1rem;
    }
}
.Redes-a svg{
    width: 1.5rem;
    height: 1.5rem;
}
.Redes-a.contacto{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    gap: 0.5rem;
}
.Contacto-li{
    opacity: 0.5;

    font-size: 1.2em;
    line-height: 2em;
    transition: all .5s ease;

    @media(max-width: 920px){
        background-color: #000;
        border-radius: 12px;
        padding: 0 1rem ;
        font-size: 1rem;

    }
}
.Contacto-li:hover{
    opacity: 1;
}
.Contacto-li:hover{
    color: var(--lila);
}