.Trabajos{
    width: 100%;
    min-height: 100vh;
    color: var(--blanco);
    min-width: 22.5rem;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 8.5rem 2rem 2rem;
    background-image: linear-gradient(to left top , #191919 , #000000 );

    @media (max-width: 95rem){
        padding: 8.5rem 1rem 1rem;
    }

    @media (max-width: 64rem){
        padding: 8.5rem 1rem 3rem;
    }
}
.Trabajos-wrapper{
    max-width: 1440px;
    width: 100%;
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @media (max-width: 64rem){
        padding: 0rem;
        background-color: transparent;
        
    }
}
.Tabs-container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;

    @media( max-width: 64rem){
        padding: 0;
    }
}
.Trabajos-Tabs-wrapper{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (max-width: 64rem){
        flex-flow: row nowrap;
        gap: 1rem;
    }
    @media (max-width: 35rem){
        flex-flow: column nowrap;
        gap: 1rem;
    }
}
.Tabs-wrapper{
    width: 100%;
}
.Button-tabs{
    max-width: 100%;
    min-width: 250px;
    text-align: center;
    padding: 0.5rem 1rem;
    border: 2px solid var(--lila);
    background-color: none;
    cursor: pointer;
    color: var(--blanco);
    font-weight: 600;
    border-radius: 8px;
    transition: all .5s ease;
    opacity: .5;

    @media (max-width: 64rem){
        min-width: 240px;
        border: 2px solid var(--blanco);
    }
}
.Button-tabs:hover{
    background-color: var(--lila);
    color: var(--blanco);
    opacity: 1;
}
.tab-isActive{
    border: 2px solid var(--lila);
    background-color: var(--lila);
    color: var(--blanco);
    opacity: 1;
}
.Tabs-content{
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.content-isActive{
    display: flex;
}
.Trabajos-grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(820px , 1fr));
    gap: 3rem;
    @media (max-width: 64rem){
        grid-template-columns: repeat(auto-fit , minmax(640px , 1fr));
        gap: 2rem;
    }
    @media (max-width: 720px){
        grid-template-columns: repeat(auto-fit , minmax(480px , 1fr));
        gap: 2rem;
    }
    @media (max-width: 560px){
        grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
        gap: 2rem;
    }
}