body{
    width: 100%;
    min-height: 100vh;
    min-width: 360px;
    background-color: #191919;
}

.Header{
    width: 100%;
    padding: 0 2rem;
    position: fixed;
    top: 1rem;
    height: 5rem;
    z-index: 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;

    @media(max-width: 64rem){
        top: 1rem;
        padding: 0 1rem;
    }
}
.Header-nav{
    min-width: 360px;
    width: 100%;
    min-height: 5rem;
    padding: 12px 2rem;
    border-radius: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff1a;
    backdrop-filter: blur(10px);

    @media(max-width: 64rem){
        gap: 1rem;
        padding: 1rem;
    }
}

.Header-nav.desktop{
    animation: nav-animation 1s ease-in-out both;
    animation-delay: 1s;
    height: 100%;
    min-height: 80px;
}
@keyframes nav-animation{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.Header-svg{
    width: 3rem;
    height: 3rem;
    transition: all 1s ease;
    filter: grayscale(1);

    @media(max-width: 64rem){
        filter: grayscale(0);
    }
}
.Header-svg:hover{
    filter: grayscale(0);
    transform: scale(1.05);
}
.Header-ul{
    padding: 8px 8px;
    min-width: 32rem;
    border-radius: 12px;
    background-color: #191919;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    @media (max-width: 64rem) {
        display: none;
    }
    
}
.Toggle-menu{
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    @media(max-width: 64rem){
        display: block;
    }
}

.Toggle-menu svg{
    fill: var(--blanco);
}

.Header-li{
    color: var(--blanco);
    padding: 8px 24px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1rem;
    min-width: 80px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transition: all .5s ease;
    border-radius: 6px;

    @media(max-width: 64rem){
        font-size: 3rem;
        padding: 12px 24px;
        text-align: right;
    }

    @media(max-width: 48rem){
        font-size: 1.25rem;
        text-align: center;
        border-radius: 8px;
        width: 100%;
        background-color: #ffffff1a;
    }
}
.Header-li:hover{
    background-color: var(--lila);
}
.Button-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    min-width: 100px;
    gap: 12px;

    @media(max-width: 64rem){
        display: none;
    }
}
.Button-wrapper.logo{
    justify-content: flex-start;
    @media(max-width: 64rem){
        display: flex;
    }
}
.Header-button{
    padding: 8px 12px;
    background-color: #191919;
    border: 1px solid transparent;
    border-radius: 6px;
    color: var(--blanco);
    font-weight: 400;
    font-size: .8em;
    transition: all .5s ease;
    cursor: pointer;

    &:hover{
        background-color: var(--lila);
        border: 1px solid var(--lila);
    }
    &:active{
        transform: scale(.95);
    }

    @media(max-width: 64rem){
        padding: 4px 12px;
        font-size: 0.8em;
    }
    @media(max-width: 48rem){
        font-size: 1rem;
        padding: 8px 20px;
    }
}
.Header-nav.mobile{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #191919;
    z-index: 2;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 4rem;
    padding: 1rem;
    border-radius: 0;
    transform: translateX(100%);
    transition: all 1s ease-in-out;
}
.Header-nav.mobile.isActive{
    transform: translateX(0%);
}
.Header-ul-mobile{
    width: 80%;
    padding: 8px 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.Header-svg.mobile{
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
}
.Header-ul-mobile a{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Button-wrapper-mobile{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.Button-wrapper-mobile .Header-button{
    @media (max-width: 48rem){
        background-color: #ffffff1a;
        padding: 0.5rem 1.5rem;
        border-radius: 8px;
    }
}
.Button-wrapper-mobile .Header-button:hover{
    background-color: var(--lila);
}
.Toggle-menu.mobile{
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 4px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 32px;
    
}
.Toggle-menu.mobile svg{
    fill: var(--blanco);
}