.Interna-container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to left top , #000000 , #030110);
}
.Interna-wrapper{
    padding: 8rem 0;
    margin: 0 auto;
    max-width: 80rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 3rem;
    align-items: flex-start;

    @media (max-width: 920px){
        padding: 8.5rem 1rem;
        gap: 2rem;
    }
}
.Interna-hero{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 3rem;
    align-items: flex-start;

    @media(max-width: 920px){
        gap: 2rem;
    }
}
.Interna-pills{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}
.Interna-pill{
    padding: 8px 16px;
    font-size: 1rem;
    line-height: 1em;
    background-color: #1a1a1aaa;
    border: 1px solid var(--lila);
    color: var(--lila);
    border-radius: 32px;
    font-weight: 500;
    transition: all .5s ease;

    @media(max-width: 920px){
        font-size: .8rem;
    }
}
.Interna-pill:hover{
    border: 1px solid var(--lila);
    background-color: var(--lila);
    color: var(--blanco)
}
.Interna-img{
    border-radius: 24px;
    display: block;
    width: 100%;
    
    @media(max-width: 920px){
        border-radius: 12px;
    }
}
.Interna-titulo{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
    background-color: #1a1a1a;
    border-radius: 32px;
    
    @media (max-width: 920px){
        padding: 2rem 1rem;
        border-radius: 12px;
        gap: 2rem;
    }
}
.Interna-h1{
    display: block;
    font-size: 4rem;
    line-height: 1em;
    font-weight: 600;
    color: var(--blanco);
    margin-bottom: -20px;

    @media (max-width: 920px){
        font-size: 2.5rem;
    }
}
.Color-lila{
    color: var(--lila);
}
.Interna-h2{
    font-size: 1.5rem;
    line-height: 1.5em;
    color: var(--blanco);

    @media (max-width: 920px){
        font-size: 1.2rem;
    }
}
.Interna-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    @media (max-width: 920px){
        flex-flow: column nowrap;
        padding: 0;
        gap: 2rem;
    }
}
.Interna-info.resultado{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;   
}
.Info-container{
    background-color: #1a1a1a;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 3rem;
    border-radius: 32px;

    @media (max-width: 920px){
        padding: 2rem 1rem ;
        border-radius: 12px;
    }
}
.izquierda{
    max-width: calc(50% - .5rem);
    @media (max-width: 920px){
        max-width: 100%;
    }
}
.derecha{
    padding: 1rem;
}
.derecha img{
    border-radius: 24px;

    @media(max-width: 920px){
        border-radius: 8px;
    }
}
.Interna-h3{
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: .5em;
    color: var(--blanco);
    z-index: 1;
}
.Interna-p{
    color: var(--blanco);
    z-index: 1;
}
.Interna-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    gap: 16px;
}
.Grid-article{
    background-color: #1a1a1a;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    aspect-ratio: 1/1;
    border-radius: 32px;
    padding: 2rem;
    position: relative;

    @media (max-width: 920px){
        border-radius: 12px;
    }
}
.Grid-image-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    border-radius: 32px;
    z-index: 0;

    @media (max-width: 920px){
        border-radius: 12px;
    }
}
.Grid-article:nth-child(1){
    background-color: var(--lila);
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.Grid-logo{
    max-width: 10rem;
    animation: handwave 2s ease-in-out infinite alternate;
}
.Grid-article.autoSlide{
    overflow: hidden;
}
.autoSlide-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transform: rotate(7deg);
}
.autoSlide-span {
    color: var(--lila);
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2em;
    animation: move 16s linear infinite alternate;
    animation-play-state: running;
    word-break: keep-all;
    white-space: nowrap;
    transition: all .5s ease;
}
.autoSlide-span:nth-child(1),
.autoSlide-span:nth-child(3){
animation: moveReverse 16s linear infinite alternate;
color: var(--blanco);
}
.grid-container:hover .autoSlide-span:nth-child(1),
.grid-container:hover .autoSlide-span:nth-child(3){
color: var(--lila);
}

@keyframes move {
from {
    transform: translateX(0);
}

to {
    transform: translateX(-42%);
}
}
@keyframes moveReverse {
from {
    transform: translateX(-42%);
}

to {
    transform: translateX(0%);
}
}
.Info-iframe{
    width: 100%;
    min-height: 700px;
    border: none;
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    @media (max-width: 920px){
        border-radius: 8px;
        min-height: 300px;
    }
}
.Interna-Banner{
    width: 100%;
    background-color: var(--lila);
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    background-image: url('/assets/fondo-beatscene-banner.webp');
    background-size: cover;
    background-position: center center;
    padding: 1rem;
    position: relative;
}
.Interna-Banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1a1a1a77;
    width: 100%;
    min-height: 500px;
}
.Banner-info{
    margin: 0 auto;
    max-width: 80rem;
    background-color: #1a1a1aee;
    padding: 4rem 3rem;
    border-radius: 2rem;
    color: var(--lila);
    position: relative;
    z-index: 1;

    @media screen and (max-width: 920px){
        padding: 3rem 2rem;
        border-radius: 12px;
    }
}
.Interna-info.proceso{
    flex-flow: column-reverse nowrap;
}
.info-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 920px){
        flex-flow: column nowrap;
        gap: 2rem;
    }
}
.info-h2{
    font-size: 1.6rem;
    font-weight:600 ;
    line-height: 1.1em;

    @media screen and (max-width: 920px){
        font-size: 1.8rem;
        text-align: center;
    }
}
.info-button a{
    padding: 12px 24px;
    border: 2px solid var(--lila);
    font-size: 1.5rem;
    color: var(--blanco);
    border-radius: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: .5s all ease;
    opacity: 0.5;

    @media (max-width: 920px){
        font-size: 1.2rem;
        border-radius: 8px;
    }
}
.info-button a:hover{
    background-color: var(--lila);
    color: var(--blanco);
    opacity: 1;
}

/*DIFERENTES BANNERS PARA EL FOOTER*/
.Interna-Banner.thespecialone-banner{
    background-image: url('/assets/fondo-thespecialone-banner.webp');
}
.Interna-Banner.ulima-banner{
    background-image: url('/assets/Ulima-banner.webp');
}