.Interna-container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to left top , #191919 , #000000 );
}
.Interna-wrapper{
    padding: 8rem 2rem;
    margin: 0 auto;
    max-width: 80rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
    align-items: flex-start;

    @media (max-width: 64rem){
        padding: 8.5rem 1rem 4rem;
        gap: 1rem;
    }
}
.Interna-wrapper section{
    animation: aparecer-top 1s ease;
}
.Interna-wrapper section:nth-of-type(1){
    animation-delay: 1s;
    animation-fill-mode: both;
}
.Interna-wrapper section:nth-of-type(2){
    animation-delay: 1.5s;
    animation-fill-mode: both;
}
.Interna-wrapper section:nth-of-type(3){
    animation-delay: 2s;
    animation-fill-mode: both;
}
.Interna-wrapper section:nth-of-type(4){
    animation-delay: 2.5s;
    animation-fill-mode: both;
}
.Interna-wrapper section:nth-of-type(5){
    animation-delay: 3s;
    animation-fill-mode: both;
}
.Interna-wrapper section:nth-of-type(6){
    animation-delay: 3.5s;
    animation-fill-mode: both;
}
.Interna-hero{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff1a;
    gap: 2rem;
    @media(max-width: 64rem){
        gap: 2rem;
    }
}
.Interna-titulo{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0 5rem;
    border-radius: 24px;
    
    @media (max-width: 64rem){
        padding: 2rem 1rem;
        border-radius: 12px;
        gap: 2rem;
    }
}
.Interna-h1{
    display: block;
    font-size: 5rem;
    line-height: 1em;
    font-weight: 600;
    color: var(--blanco);
    @media (max-width: 64rem){
        font-size: 2.5rem;
        text-align: center;
    }
}
.Interna-logo{
    max-width: 4rem;
}
.Color-lila{
    color: var(--lila);
}
.Interna-h2{
    max-width: 62ch;
    font-size: 1.5rem;
    line-height: 1.5em;
    color: var(--blanco);
    text-align: center;
    margin-bottom: 16px;

    @media (max-width: 64rem){
        font-size: 1.2rem;
    }
}
.Interna-pills{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.Interna-pills.ulima{
    justify-content: flex-start;
    align-items: center;
}
.Interna-pill{
    padding: 8px 24px;
    font-size: 1rem;
    line-height: 1em;
    border: 1px solid var(--lila);
    color: var(--blanco);
    border-radius: 24px;
    font-weight: 500;
    transition: all .5s ease;

    @media(max-width: 64rem){
        font-size: .8rem;
    }
}
.Interna-pills.ulima .Interna-pill{
    font-size: .9rem;
}
.Interna-pill:hover{
    border: 1px solid var(--lila);
    background-color: var(--lila);
    color: var(--blanco)
}
.Interna-img{
    border-radius: 16px;
    display: block;
    width: 100%;
    
    @media(max-width: 64rem){
        border-radius: 12px;
    }
}

.Interna-info{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 6rem 0 1rem;

    @media (max-width: 64rem){
        flex-flow: column nowrap;
        padding: 6rem 0 1rem;
        gap: 2rem;
    }
}
.Interna-wrapper .Interna-info:nth-of-type(2){
    padding: 3rem 0 1rem;
}
.Interna-info.resultado{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;   
}
.Info-container{
    background-color: #ffffff1a;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 3rem;
    border-radius: 24px;

    @media (max-width: 64rem){
        padding: 2rem 1rem ;
        border-radius: 12px;
    }
}
.Info-container.flex-2{
    flex: 2;
    background: transparent;
    padding: 0;
    @media(max-width: 64rem){
        flex: auto;
        padding: 1rem;
        align-items: center;
        text-align: center;
    }
}
.Info-container.flex-3{
    flex: 3;
    @media(max-width: 64rem){
        align-items: center;
        text-align: center;
        flex: auto;
    }
}
.izquierda{
    max-width: calc(50% - .5rem);
    @media (max-width: 64rem){
        max-width: 100%;
    }
}
.mid-padding{
    padding: 0rem;
}
.mid-padding img{
    border-radius: 16px;

    @media(max-width: 64rem){
        border-radius: 8px;
    }
}
.Span-Color-lila{
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 1.3em;
    margin-bottom: .7em;
    color: var(--lila);
}
.Interna-h3{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4em;
    margin-bottom: 1rem;
    color: var(--blanco);
    text-wrap: balance;
    z-index: 1;
}
.Interna-h3 .Color-lila{
    font-weight: 600;
}
.Interna-p{
    max-width: 65ch;
    color: var(--blanco);
    font-size: 1rem;
    line-height: 1.6em;
    opacity: 1;
    z-index: 1;
}
.Interna-p:not(:last-child){
    margin-bottom: 1rem;
}
.Interna-grid{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    gap: 16px;
}
.Grid-article{
    background-color: #ffffff1a;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    aspect-ratio: 1/1;
    border-radius: 24px;
    padding: 2rem;
    position: relative;

    @media (max-width: 64rem){
        border-radius: 12px;
    }
}
.Grid-article.mid-padding{
    padding: 0;
}
.Grid-image-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    border-radius: 24px;
    z-index: 0;

    @media (max-width: 64rem){
        border-radius: 12px;
    }
}
.Grid-article:nth-child(1){
    background-color: var(--lila);
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.Grid-logo{
    max-width: 10rem;
    animation: handwave 2s ease-in-out infinite alternate;
}
.Grid-article.autoSlide{
    overflow: hidden;
}
.autoSlide-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transform: rotate(7deg);
}
.autoSlide-span {
    color: var(--lila);
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2em;
    animation: move 16s linear infinite alternate;
    animation-play-state: running;
    word-break: keep-all;
    white-space: nowrap;
    transition: all .5s ease;
}
.autoSlide-span:nth-child(1),
.autoSlide-span:nth-child(3){
animation: moveReverse 16s linear infinite alternate;
color: var(--blanco);
}
.grid-container:hover .autoSlide-span:nth-child(1),
.grid-container:hover .autoSlide-span:nth-child(3){
color: var(--lila);
}

@keyframes move {
from {
    transform: translateX(0);
}

to {
    transform: translateX(-42%);
}
}
@keyframes moveReverse {
from {
    transform: translateX(-42%);
}

to {
    transform: translateX(0%);
}
}
.Info-iframe{
    width: 100%;
    min-height: 700px;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    position: relative;

    @media (max-width: 64rem){
        border-radius: 8px;
        min-height: 300px;
    }
}
.Interna-Banner{
    width: 100%;
    background-color: var(--lila);
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    background-image: url('/assets/fondo-beatscene-banner.webp');
    background-size: cover;
    background-position: center center;
    padding: 1rem;
    position: relative;
}
.Interna-Banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1a1a1a77;
    width: 100%;
    min-height: 500px;
}
.Banner-info{
    margin: 0 auto;
    max-width: 80rem;
    background-color: #1a1a1aee;
    padding: 4rem 3rem;
    border-radius: 24px;
    color: var(--lila);
    position: relative;
    z-index: 1;

    @media(max-width: 64rem){
        padding: 3rem 2rem;
        border-radius: 12px;
    }
}
.Interna-info.proceso{
    flex-flow: column nowrap;
    width: 100%;
}
.info-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 64rem){
        flex-flow: column nowrap;
        gap: 2rem;
    }
}
.info-h2{
    font-size: 1.6rem;
    font-weight:600 ;
    line-height: 1.1em;

    @media(max-width: 64rem){
        font-size: 1.8rem;
        text-align: center;
    }
}
.info-button a{
    margin-top: 16px;
    padding: 1rem 2rem;
    background-color: #ffffff1a;
    font-size: 1.5rem;
    color: var(--blanco);
    border-radius: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: .5s all ease;

    @media (max-width: 64rem){
        font-size: 1.2rem;
        border-radius: 8px;
    }
}
.info-button a:hover{
    background-color: var(--lila);
    color: var(--blanco);
    opacity: 1;
}

/*DIFERENTES BANNERS PARA EL FOOTER*/
.Interna-Banner.thespecialone-banner{
    background-image: url('/assets/fondo-thespecialone-banner.webp');
}
.Interna-Banner.ulima-banner{
    background-image: url('/assets/Ulima-banner.webp');
}